[data-ui-label] {
  display: flex;
  align-items: center;
  cursor: pointer;
}

[data-ui-control-box] {
  border: 2px solid rgb(226, 232, 240);
  border-radius: 2px;
  height: 12px;
  width: 12px;
  transition: all 120ms ease;
  margin-right: 5px;
}

[data-ui-control-box]:focus {
  box-shadow: rgba(66, 153, 225, 0.6) 0px 0px 0px 3px;
  outline: none;
}

[data-ui-checked="true"] {
  background-color: rgb(49, 130, 206);
}

[data-ui-visually-hidden] {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}