.App {
  text-align: center;
  background-color: #282c34;
  padding: 0px 24px 48px 24px;
  color: black;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.component-wrapper {
  border: 1px solid gray;
  margin: 10px 10px 36px 10px;
  padding: 10px 24px 36px 24px;
}

.left-align {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.component-title {
  color: lightcoral;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  padding-bottom: 22px;
}

.white-text {
  color: white;
  text-align: left;
}

.skeleton-title {
  color: white;
  font-size: 1.25em;
  text-align: left;
  margin-bottom: 28px;
}

.skeleton-title p {
  margin-bottom: 12px;
}

.input-label {
  text-align: left;
  font-size: 1.25em;
}
