[data-name='live-editor'] textarea,
[data-name='live-editor'] pre {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

h3 code {
  font-size: inherit;
}

content pre {
  position: relative;
}

input[type='color'] {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background: none;
  cursor: pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border: 0;
}
input[type='color']::-webkit-color-swatch {
  border-radius: 40px;
  border: 0;
}

.callout p {
  margin: 0;
}
